<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Example with JSX</title>
    <link rel="stylesheet" href="/examples/shared/css/base.css" />
  </head>
  <body>
    <h1>Basic Example with JSX</h1>
    <div id="container">
      <p>
        To install React, follow the instructions on
        <a href="https://github.com/facebook/react/">GitHub</a>.
      </p>
      <p>
        If you can see this, React is <strong>not</strong> working right.
        If you checked out the source from GitHub make sure to run <code>grunt</code>.
      </p>
    </div>
    <h4>Example Details</h4>
    <p>This is written with JSX and transformed in the browser.</p>
    <p>
      Learn more about React at
      <a href="https://facebook.github.io/react" target="_blank">facebook.github.io/react</a>.
    </p>

    <div id="mydiv">
    </div>


    <script src="/build/react.js"></script>
    <script src="/build/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.3/chance.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js"></script>
    <script type="text/babel">
      class Data extends React.Component{
        constructor(props){
          super(props)
          this.chance = new Chance()
          this.state = {"name": this.chance.name(), loading: false}
          console.log(this.state)
        }

        newName(){
          //this.setState({"name": this.chance.name()})
          this.setState({...this.state, loading: true})
          fetch('/slowname')
            .then((response)=>{
              return response.json()
            })
            .then((data)=>{
              console.log(data)
              this.setState({...this.state, name: data.name, loading: false})
            })
        }

        render(){
          let name = this.state.name
          let loadingText = this.state.loading ? 'Loading' : ''
          return <div>
            {name}
            <div style={{color: 'red'}}>
              {loadingText}
            </div>
            <button onClick={()=>this.newName()}>Press me</button>
          </div>
        }
      }
      ReactDOM.render(
        <Data/>,
        document.getElementById('mydiv')
      )
    </script>
  </body>
</html>
